Routeur/xml/BoatInfoFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pseudo" type="xs:string" />
        <xs:element name="chat_allowed" type="xs:unsignedByte" />
        <xs:element name="is_moderateur" type="xs:unsignedByte" />
        <xs:element name="is_admin" type="xs:unsignedByte" />
        <xs:element name="type" type="xs:unsignedByte" />
        <xs:element name="metric" type="xs:unsignedByte" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="quizz_to_respond" />
        <xs:element name="full_option" type="xs:unsignedByte" />
        <xs:element name="option_repair_kits" type="xs:decimal" />
        <xs:element name="is_star" type="xs:unsignedByte" />
        <xs:element name="is_winner" type="xs:unsignedByte" />
        <xs:element name="is_sponsor" type="xs:unsignedByte" />
        <xs:element name="link_sponsor" />
        <xs:element name="pict_sponsor" />
        <xs:element name="couleur1" type="xs:string" />
        <xs:element name="couleur2" type="xs:string" />
        <xs:element name="couleur3" type="xs:string" />
        <xs:element name="couleur4" type="xs:string" />
        <xs:element name="couleur5" type="xs:string" />
        <xs:element name="preferences" type="xs:string" />
        <xs:element name="clef_valide" type="xs:unsignedByte" />
        <xs:element name="position">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="latitude" type="xs:float" />
              <xs:element name="longitude" type="xs:float" />
              <xs:element name="spi" type="xs:unsignedByte" />
              <xs:element name="voile" type="xs:unsignedShort" />
              <xs:element name="voiles_cassees" type="xs:unsignedByte" />
              <xs:element name="vitesse" type="xs:decimal" />
              <xs:element name="wind_speed" type="xs:decimal" />
              <xs:element name="wind_angle" type="xs:unsignedByte" />
              <xs:element name="cap" type="xs:short" />
              <xs:element name="distancerestante" type="xs:decimal" />
              <xs:element name="distanceparcourue" type="xs:decimal" />
              <xs:element name="option_assistance" type="xs:unsignedByte" />
              <xs:element name="option_vigilance" type="xs:unsignedByte" />
              <xs:element name="option_voile_auto" type="xs:unsignedByte" />
              <xs:element name="option_voile_auto_activated" type="xs:unsignedByte" />
              <xs:element name="option_voiles_pro" type="xs:unsignedByte" />
              <xs:element name="option_program" type="xs:unsignedByte" />
              <xs:element name="option_program_setdate" type="xs:string" />
              <xs:element name="option_program_autohour" type="xs:unsignedByte" />
              <xs:element name="option_program_autominutes" type="xs:unsignedByte" />
              <xs:element name="option_program_autocap" type="xs:unsignedShort" />
              <xs:element name="option_waypoints" type="xs:unsignedByte" />
              <xs:element name="classement" type="xs:decimal" />
              <xs:element name="IsArrived" type="xs:unsignedByte" />
              <xs:element name="checkpoint" type="xs:unsignedByte" />
              <xs:element name="id_parcours" type="xs:unsignedByte" />
              <xs:element name="id_parcours_xml" type="xs:string" />
              <xs:element name="temps_etape" type="xs:string" />
              <xs:element name="RegimeMoteur" type="xs:unsignedByte" />
              <xs:element name="Carburant" type="xs:unsignedByte" />
              <xs:element name="event" type="xs:unsignedByte" />
              <xs:element name="temps_event" type="xs:string" />
              <xs:element name="option_regulateur" type="xs:decimal" />
              <xs:element name="option_regulateur_cap" type="xs:decimal" />
              <xs:element name="diffClassement" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="date" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="trajectoire" type="xs:string" />
        <xs:element name="waypoints" />
        <xs:element name="messages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="message">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sender">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id_user" type="xs:unsignedInt" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="text" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nouveaux_amis" type="xs:string" />
        <xs:element name="opponents">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="boat">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pseudo" type="xs:string" />
                    <xs:element name="is_moderateur" type="xs:unsignedByte" />
                    <xs:element name="type" type="xs:unsignedByte" />
                    <xs:element name="metric" type="xs:unsignedByte" />
                    <xs:element name="country" />
                    <xs:element name="full_option" type="xs:unsignedByte" />
                    <xs:element name="option_repair_kits" type="xs:decimal" />
                    <xs:element name="is_sponsor" type="xs:unsignedByte" />
                    <xs:element name="link_sponsor" />
                    <xs:element name="pict_sponsor" type="xs:string" />
                    <xs:element name="is_star" type="xs:unsignedByte" />
                    <xs:element name="is_winner" type="xs:unsignedByte" />
                    <xs:element name="couleur1" type="xs:string" />
                    <xs:element name="couleur2" type="xs:string" />
                    <xs:element name="couleur3" type="xs:string" />
                    <xs:element name="couleur4" type="xs:string" />
                    <xs:element name="couleur5" type="xs:string" />
                    <xs:element name="longitude" type="xs:float" />
                    <xs:element name="latitude" type="xs:float" />
                    <xs:element name="spi" type="xs:unsignedByte" />
                    <xs:element name="voile" type="xs:unsignedShort" />
                    <xs:element name="voiles_cassees" type="xs:unsignedByte" />
                    <xs:element name="vitesse" type="xs:decimal" />
                    <xs:element name="wind_speed" type="xs:decimal" />
                    <xs:element name="wind_angle" type="xs:unsignedByte" />
                    <xs:element name="cap" type="xs:short" />
                    <xs:element name="distancerestante" type="xs:decimal" />
                    <xs:element name="distanceparcourue" type="xs:decimal" />
                    <xs:element name="option_assistance" type="xs:unsignedByte" />
                    <xs:element name="option_vigilance" type="xs:unsignedByte" />
                    <xs:element name="option_voile_auto" type="xs:unsignedByte" />
                    <xs:element name="option_voile_auto_activated" type="xs:unsignedByte" />
                    <xs:element name="option_voiles_pro" type="xs:unsignedByte" />
                    <xs:element name="option_program" type="xs:unsignedByte" />
                    <xs:element name="classement" type="xs:decimal" />
                    <xs:element name="IsArrived" type="xs:unsignedByte" />
                    <xs:element name="temps_etape" type="xs:string" />
                    <xs:element name="RegimeMoteur" type="xs:unsignedByte" />
                    <xs:element name="Carburant" type="xs:unsignedByte" />
                    <xs:element name="option_regulateur" type="xs:decimal" />
                    <xs:element name="amis">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="boat" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="trajectoire" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id_user" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="amis">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="boat">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pseudo" type="xs:string" />
                    <xs:element name="is_moderateur" type="xs:unsignedByte" />
                    <xs:element name="type" type="xs:unsignedByte" />
                    <xs:element name="metric" type="xs:unsignedByte" />
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="full_option" type="xs:unsignedByte" />
                    <xs:element name="option_repair_kits" type="xs:decimal" />
                    <xs:element name="is_sponsor" type="xs:unsignedByte" />
                    <xs:element name="link_sponsor" />
                    <xs:element name="pict_sponsor" />
                    <xs:element name="is_star" type="xs:unsignedByte" />
                    <xs:element name="is_winner" type="xs:unsignedByte" />
                    <xs:element name="couleur1" type="xs:string" />
                    <xs:element name="couleur2" type="xs:string" />
                    <xs:element name="couleur3" type="xs:string" />
                    <xs:element name="couleur4" type="xs:string" />
                    <xs:element name="couleur5" type="xs:string" />
                    <xs:element name="longitude" type="xs:float" />
                    <xs:element name="latitude" type="xs:float" />
                    <xs:element name="spi" type="xs:unsignedByte" />
                    <xs:element name="voile" type="xs:unsignedShort" />
                    <xs:element name="voiles_cassees" type="xs:unsignedByte" />
                    <xs:element name="vitesse" type="xs:decimal" />
                    <xs:element name="wind_speed" type="xs:decimal" />
                    <xs:element name="wind_angle" type="xs:unsignedByte" />
                    <xs:element name="cap" type="xs:short" />
                    <xs:element name="distancerestante" type="xs:decimal" />
                    <xs:element name="distanceparcourue" type="xs:decimal" />
                    <xs:element name="option_assistance" type="xs:unsignedByte" />
                    <xs:element name="option_vigilance" type="xs:unsignedByte" />
                    <xs:element name="option_voile_auto" type="xs:unsignedByte" />
                    <xs:element name="option_voile_auto_activated" type="xs:unsignedByte" />
                    <xs:element name="option_voiles_pro" type="xs:unsignedByte" />
                    <xs:element name="option_program" type="xs:unsignedByte" />
                    <xs:element name="classement" type="xs:decimal" />
                    <xs:element name="IsArrived" type="xs:unsignedByte" />
                    <xs:element name="temps_etape" type="xs:string" />
                    <xs:element name="RegimeMoteur" type="xs:unsignedByte" />
                    <xs:element name="Carburant" type="xs:unsignedByte" />
                    <xs:element name="option_regulateur" type="xs:decimal" />
                    <xs:element name="amis">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="boat" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="trajectoire" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id_user" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id_user" type="xs:unsignedInt" use="required" />
      <xs:attribute name="date" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>