Routeur/xml/Current.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PREVISIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PREVISION">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="DAY" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="COLS" type="xs:unsignedByte" use="required" />
      <xs:attribute name="ROWS" type="xs:unsignedByte" use="required" />
      <xs:attribute name="LONGITUDESTART" type="xs:decimal" use="required" />
      <xs:attribute name="LATITUDESTART" type="xs:decimal" use="required" />
      <xs:attribute name="DX" type="xs:decimal" use="required" />
      <xs:attribute name="DY" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>